<div id="giving-pool">
	<ul id="invisible-overlay">
		<li class="one"><p>Africa (123)</p></li>
		<li class="two"><p>Cancer Research (333)</p></li>
		<li class="three"><p>Human Rights (298)</p></li>
		<li class="four"><p>Digital Rights (43)</p></li>
	</ul>
	<ul id="beneath-image">
		<li class="one"></li>
		<li class="two"></li>
		<li class="three"></li>
		<li class="four"></li>
	</ul>	
</div>