<div class="column grid_10"><img src="/images/logo.png"/></div>
<div id="menu" class="column grid_3"><p><a href="#">API</a> | <%= link_to "login" , new_user_session_path %> | <a href="#">About</a></p></div>
