<div id="giving-pool">
	<ul id="invisible-overlay">
		<li class="one">Africa (123)</li>
		<li class="two">Cancer Research (333)</li>
		<li class="three">Human Rights (298)</li>
		<li class="four">Digital Rights (43)</li>
	</ul>
	<ul id="beneath-image">
		<li class="one"></li>
		<li class="two"></li>
		<li class="three"></li>
		<li class="four"></li>
	</ul>	
</div>