<div id="giving-pool">
	<ul id="invisible-overlay">
		<li class="one">one</li>
		<li class="two">two</li>
		<li class="three">three</li>
		<li class="four">four</li>
	</ul>
	<ul id="beneath-image">
		<li class="one">one</li>
		<li class="two">two</li>
		<li class="three">three</li>
		<li class="four">four</li>
	</ul>	
</div>