<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Love Pie</title>
  <link href="/stylesheets/reset.css" type="text/css" rel="stylesheet" media="screen"/>
  <link href="/stylesheets/grid.css" type="text/css" rel="stylesheet" media="screen"/>
  <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet" media="screen"/>
</head>
<body>
<div id="container">
	<div id="header" class="row">
  		<div class="column grid_10"><img src="/images/logo.png"/></div>
  		<div id="menu" class="column grid_3"><p><a href="#">API</a> | <a href="#">Login</a> | <a href="#">About</a></p></div>
	</div>

	<div id="middle" class="row">
  		<div class="column grid_4">
  			<% @causes.each do |cause| %>
			<%= cause.count_all %>
			<% end %>
    		<h3>Causes / Organisations</h3>
    		<ul>
      			<li>Children</li>
      			<ul>
        			<li>Unicef</li>
        			<li>Save the Children</li>
      			</ul>
      			<li>Other</li>
      			<ul>
        			<li>Charity 1</li>
        			<li>Charity 2</li>
      			</ul>
    		</ul>
  		</div>
  		<div class="column grid_7">
			<form id="moneyForm" action="" method="post">
				<input id="totalMoney" name="totalMoney" type="text" />
			</form>
			<p>Kevin's heart</p>
			</div>
		</div>

		<div id="footer" class="row">
  			<div class="column grid_10"><p>&nbsp;</p></div>
  			<div class="column grid_2"><p><a href="#">Make Payment</a></p></div>
		</div>
	</div>
</body>
</html>