#giving-pool{
	display:block;
margin:20px 0 0 60px;
	height:354px;
	width:400px;
	background:green;	
}

/*Reset list elements */
ul#invisible-overlay, ul#beneath-image,
li#invisible-overlay, li#beneath-image {
	list-style: none;
	margin-left: 0;
	padding:0;
	margin:0;
}
/*Set bounds for both lists */
ul#invisible-overlay, ul#beneath-image {
	height:354px;
	width:400px;
	display:block;
	margin-left: 0;
	padding-left: 0;
}

/*
* Item Stying for the lists
* Invisible block element ul on top, 
* Each li is mirrored below showing colours 
* through a stencil template 
*/ 
ul#invisible-overlay {
	background-image:url(../images/heart.png);
	background-color:transparent;
	position:relative;
font-size:20px;
font-weight:bold;
text-align:center;
	z-index:999;
}

ul#invisible-overlay li{
padding:2px 0 0 0;
}


ul#beneath-image {
	position:relative;
	margin-top:-354px;
	z-index:1;
}
	#invisible-overlay li.one, #beneath-image li.one{height:10%;}
	#invisible-overlay li.two, #beneath-image li.two{height:40%;}
	#invisible-overlay li.three, #beneath-image li.three{height:25%;}
	#invisible-overlay li.four, #beneath-image li.four{height:25%;}

	#beneath-image li.one{background-color:blue;}
	#beneath-image li.two{background-color:yellow;}
	#beneath-image li.three{background-color:aquamarine;}
	#beneath-image li.four{background-color:coral;}