body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  background: #F5F5F5;
  font-size: 12px;
}

#moneyForm{
margin:0 0 0 70px
}

input#totalMoney{
	font-size:80px;
	width:350px
}

input
{
color: #444444;
background: #F5F5F5;
border: none;
border-bottom: 8px solid #363636;
}

#container{
  position: relative;
  margin: 0 auto;
  width: 980px;
}

#header{
  position:relative;
  height: 120px;
  top: 20px;
  left: 0px;
}

#menu{
  position:absolute;
  top: 26px;
padding:2px 0 3px 0;
  right: 10px;
}

#menu p,
#footer p a{
	font-size: 18px;
}
#menu p a,
#footer p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#menu p a:hover{
	color: #333;
}

#middle{
  position:relative;
  top: 20px;
  left: 0px;
}

#footer{
  position:relative;
  top: 20px;
}

#footer p{
margin:6px 0 12px 0;
padding:6px 0 12px 0;
}

#footer p a:hover{
	color: #66CD00;
}


#tag-data h3{
font-size:30px;
}

#tag-data{
height:540px;
}

#filtered-org{
height: 400px;
width: 258px;
overflow: auto;
}


#about {
	text-align: right;
}
#about h1 {
	font-size:2em;
}
#about p {
	font-size:1.2em;
}
#about ul {
	float:left;
	width: 300px;
	padding: 5px;
	margin: 5px;
}
#about ul span {
	font-size:1.8em;
}
#about ul span strong {
	color: #66CD00;
}
#about ul span b {
	color: #66CD00;
	font-weight: bold;
}
#about li {
	line-height:2em;
}

#about h2 {
	font-size: 1.4em;
}
#about h2 strong {
	background: #66CD00;
	font-size: 1.8em;
	color:#F5F5F5;
}
