body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  background: #F5F5F5;
  font-size: 12px;
}

#moneyForm{
margin:0 0 0 90px
}

input#totalMoney{
	font-size:80px;
	width:350px
}

#container{
  position: relative;
  margin: 0 auto;
  width: 980px;
}

#header{
  position:relative;
  height: 120px;
  top: 20px;
  left: 0px;
}

#menu{
  position:absolute;
  top: 26px;
padding:2px 0 3px 0;
  right: 10px;
}

#menu p,
#footer p a{
	font-size: 18px;
}
#menu p a,
#footer p a {
	font-weight: bold;
	color: #999;
	text-decoration: none;
}

#menu p a:hover{
	color: #333;
}

#middle{
  position:relative;
  top: 20px;
  left: 0px;
}

#footer{
  position:relative;
  top: 20px;
}

#footer p{
margin:6px 0 12px 0;
padding:6px 0 12px 0;
}

#footer p a:hover{
	color: #66CD00;
}


#tag-data h3{
font-size:30px;
}

#tag-data{
height:460px;
overflow:auto;
}

#about {
	text-align: right;
}

#about h1 {
	font-size:2em;
}
#about p {
	font-size:1.2em;
}
#about ul {
	float:left;
	width: 300px;
	padding: 5px;
	margin: 5px;
}
#about ul span {
	font-size:1.8em;
}
#about ul span strong {
	color: #66CD00;
}
#about ul span b {
	color: #66CD00;
	font-weight: bold;
}
#about li {
	line-height:2em;
}

#about h2 {
	font-size: 1.4em;
}
#about h2 strong {
	background: #66CD00;
	font-size: 1.8em;
	color:#F5F5F5;
}
#search_filter_cause{
color: #444444;
background: #F5F5F5;
	margin: 8px 0 12px 0;
	padding: 6px 6px 3px 6px;
	height:32px;
	font-size:26px;
	width:9.3em;
border: solid #8B7765;
border-right-width:1px;
border-right-color:#D9D9D9;
border-left-width:1px;
border-left-color:#D9D9D9;
border-top-width:1px;
border-top-color:#D9D9D9;

}
#search_filter_org{
color: #444444;
background: #F5F5F5;
	margin: 8px 0 12px 0;
	padding: 6px 6px 3px 6px;
	height:32px;
	font-size:26px;
	width:9.3em;
border: solid #8B7765;
border-right-width:1px;
border-right-color:#D9D9D9;
border-left-width:1px;
border-left-color:#D9D9D9;
border-top-width:1px;
border-top-color:#D9D9D9;

}
#filtered-cause ul li{
font-size:1em;
padding:2px 1px 4px 1px;
line-height:1.4em;
cursor:move;
}
#filtered-org ul li{
font-size:1em;
margin:10px 1px 6px 1px;
padding:6px 0 0 0;
cursor:move;
}

label.over { color: #8B7765; position: absolute; top: 71px; left: 42px; font-size:1.8em}